
*{
    margin:0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}
.nav{
    background-color: grey;
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{


}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    list-style-type: none;
}
.active{
font-weight: 700;
}
.btn{
background-color: #17a2b8;
padding: 4px 8px;
box-shadow: black 3px 5px;
}
a{
    text-decoration: none;
}